<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes and Fitness Tips</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1> Fitness App</h1>
    <nav>
        <a href = "./"> Home</a>
        <a href = "./generate"> Generate Workout</a>
        <a href = "./track"> Track Progress</a>
        <a href = "./csv"> Convert to CSV</a>
        <a href = "./goals"> Goals</a>
    </nav>

    <h2 class ="titleHeader">Download CSV</h2>

    <h2>Download your Workout Progress into CSV file:</h2>
  

    <button type = "button" id ="btnDownloadCSV" data-csv = "{{csvData}}"> Download CSV </button>








    <script src="/js/convertCsvClient.js"> </script>
</body>
</html>